

<div class="dialog-default dialog-my js-dialog-my">
    <div class="content">
        <h3>我的下注
            <a href="javascript:;" class="butn-close js-butn-close"></a>
        </h3>
        <div class="content-main">
            <ul class="record-list">

            </ul>
        </div>
    </div>
</div>


<div class="dialog-default dialog-my js-dialog-history">
    <div class="content">
        <h3>往期开奖
            <a href="javascript:;" class="butn-close js-butn-close"></a>
        </h3>
        <div class="content-main">
            <ul class="history-list">

            </ul>
        </div>
    </div>
</div>
<div class="dialog-lotteryed js-dialog-lotteryed">
    <div class="content">
        <h3>恭喜您获得钻石</h3>
        <p>-</p>
    </div>
</div>

<div class="dialog-confirm js-dialog-confirm">
    <div class="content">
        <h3>确定投注吗？</h3>
        <div class="betting-all js-betting-all">

        </div>
        <div class="butn-wrap">
            <a href="javascript:;" class="js-dialog-cancel">取消</a>
            <a href="javascript:;" class="butn-ok js-dialog-ok">确定</a>
        </div>
    </div>
</div>


<div class="dialog-confirm js-dialog-charge">
    <div class="content">
        <h3>金币不足哦，快去充值吧~</h3>
        <div class="butn-wrap">
            <a href="javascript:;" class="js-dialog-cancel">取消</a>
            <a href="/user/usercenter" class="butn-ok">确定</a>
        </div>
    </div>
</div>