<div class="page-main">
    <!--开奖结果位置-->
    <div>
        <div class="open-main js-open-main">
        </div>
        <div class="open-main js-open-main">
           
        </div>
    </div>
    <!--下注-->
    <div class="betting-all-wrapper">
        
    </div>

    <!--下注触发点-->
    <div class="betting-main" id="js-betting-main">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="user-list js-user-list"></div>
    <footer>
        <a href="javascript:;" class="butn-clear js-butn-cancel">清除</a>
        <div class="select-group js-butn-select">
            <a href="javascript:;" class="active" data-num="10"></a>
            <a href="javascript:;" data-num="50"></a>
            <a href="javascript:;" data-num="100"></a>
            <a href="javascript:;" data-num="1000"></a>
        </div>
        <a href="javascript:;" class="butn-confirm js-butn-betting gray"></a>
        <!--<p class="total-betting" id="js-total-betting">0</p>-->
    </footer>
</div>