<div class="page-header">
    <div class="left-info">
        <a href="/user/usercenter" class="head-img">
            <img src="https://unsplash.it/170/170" class="js-avatar" />
        </a>
        <div class="info">
            <p class="js-nick">-</p>
            <p class="js-xyb">-</p>
            <p class="js-zs">-</p>
        </div>
    </div>
    <div class="right-count">
        <p>距离开奖还有 <span class="js-count-time yellow">-</span> 秒</p>
        <p><span class="js-issue">-</span> 期 <a href="javascript:;" class="js-butn-my">我的投注</a></p>
    </div>

</div>
<a href="javascript:;" class="butn-voice  js-close-bg"></a>

<a href="javascript:;" class="butn-record js-butn-history">往期开奖</a>